body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  h2{
    font-family: arial;
  }
  form {
    width: 20%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color:#FFCC99 ;
  }
  label {
    display: block;
    margin-bottom: 8px;
  }
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  input[type="submit"]{
    background-color: #EFC3A4;
    color: white;
    cursor: pointer;
  }
  input[type="button"]{
    background-color: #EFC3A4;
    color: white;
    cursor: pointer;
  }
