 header {
		   background-color:#FFCC99;
		   color: black;
		   padding: 2px;
		   text-align: center;
		   font-size: 100%;
		 }
nav ul {
		        list-style: none;
				padding: 10px;
				margin: 10px;
		       }
nav ul li {
				display: inline;
				margin-right: 50px;
				}
nav ul li a {
				color: saddlebrown;
				text-decoration: none;
				font-weight: bold;
				}			  
nav ul li, div ul li,a{
	display: inline;
	margin-right: 40px;
	text-align: center;
    font-size:small;
	text-decoration: none;
	color:nude;
	}
			   
#Logo  {
	
                max-width:80px;
				border-radius: 50%;
				position: absolute;
				top:-10px;
				right:700px;
				
  }	


#background-text a {
   	position: absolute;
	top: 30%;
	right: 150px;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 2em;
	text-align: center;
	padding: 20px;
	border: 2px solid black;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	transition: color 0.3s ease;
	}
#background-text a:hover {
	color: #EFC3A4;
	}
 /*Shopping Cart Button - Javascript*/			
			.shopping-cart a{
				position: absolute;
				top: 20px;
				right: 20px;
				transform: translateY(-50%);
				font-size: 150%;
				color:white;
				cursor: pointer;}	
  /*Side Menu Bar - Javascript*/		
		   .sidenav {
				height: 100%;
				width: 0;
				position: fixed;
				z-index: 1;
				top: 0;
				left: 0;
				background-color: #222;
				overflow-x: hidden;
				transition: 0.5s;
				padding-top: 60px;}
			.sidenav a {
				padding: 8px 8px 8px 32px;
				text-decoration: none;
				font-size: 18px;
				color: #818181;
				display: block;
				transition: 0.3s;}
			.sidenav a:hover {
				color: saddlebrown;}
			.sidenav .closebtn {
				position: absolute;
				top: 0;
				right: 25px;
				font-size: 36px;
				margin-left: 50px;}
			@media screen and (max-height: 450px) {
				.sidenav {padding-top: 15px;}
				.sidenav a {font-size: 16px;}}
				.open-menu-btn{
				color: white;
				font-size: 140%;
				cursor: pointer;
				position: absolute;
				top: 20px;
				left: 15px;}
/*menu*/
main {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	flex-wrap: wrap;
	}
	
	
figure {
	text-align: center;
	}
figcaption {
	margin-top: 10px;
	font-weight: bold;
	font-size:30px;
	}
#pic1{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	right: -20px;
	}
#pic2{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	right: -10px;	
	}
#pic3{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	left: -10px;
	} 
#pic4{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	right: -20px;
	}
#pic5{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	right: -10px;	
	}
#pic6{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	left: -10px;
	} 
#pic7{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	right: -20px;
	}
#pic8{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	right: -10px;	
	}
#pic9{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	left: -10px;
	} 
#pic10{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	left: -10px;
	} 
#pic11{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	left: -10px;
	} 
#pic12{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	left: -10px;
	} 
#pic13{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	left: -10px;
	} 
#pic14{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	left: -10px;
	} 
#pic15{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	left: -10px;
	}
#pic16{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	left: -10px;
	}
#pic17{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	left: -10px;
	}
#pic18{
	width: 350px;
	height: 350px;
	position: relative;
	top: -10px;
	left: -10px;
	}

	

section{
	text-align: center;
	padding: 20px;
	background-color: #ddaf86;
	font-size:30px;
}
footer{
		background-color: #FFCC99;
		padding:5px;
		text-align:center;
	  }
